<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>channel_id</key>
	<string>22700869</string>
	<key>api_key</key>
	<string>dafd5336ed6e69b7acb0ce31b88e5aa4</string>
	<key>domain</key>
	<string>vagmis-dev-store.myshopify.com</string>
</dict>
</plist>
